[Desktop Entry]
Version=1.0
Name=Let me do
Name[fr]=Laisse moi faire
Comment=Let someone else take control of your computer
Comment[fr]=Laissez quelqu'un d'autre prendre le contrôle de votre ordinateur
Exec=@LET-ME-DO-POLKIT_PATH@
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
Categories=Network;
