Source: let-me-do
Section: utils
Priority: optional
Maintainer: Loïc Escales <L0L022@openmailbox.org>
Build-Depends: debhelper (>=9), cmake
Standards-Version: 3.9.7
Homepage: https://l0l022.github.io/let-me-do/
Vcs-Git: git://github.com:L0L022/let-me-do.git
Vcs-Browser: https://github.com/L0L022/let-me-do

Package: let-me-do
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends},
         openssh-server,
         iptables,
         xclip,
         zenity,
         miniupnpc,
         x11vnc,
         gettext
Suggests: x11-utils
Description: Let someone else take control of your computer
 Mettre plus de blabla
 Parce que la ça ne va pas du tout
